Cleaning Bike Rental Data Management

Cleaning the Bike Rental Data (Step 1: Check for Missing Values)

In [ ]:
import pandas as pd
rentals = pd.read_csv('C:\\Users\\tiara.williams\\OneDrive - Accenture\\Data Engineering Projects\\Project 1\\bike-rental-starter-kit\\data\\JC-201611-citibike-tripdata.csv')
print(rentals.isnull().sum())  # Check for missing values

#If data is missing it is best practice to remove that data 

import pandas as pd

# Load your dataset
rentals = pd.read_csv(r'C:\Users\tiara.williams\OneDrive - Accenture\Data Engineering Projects\Project 1\bike-rental-starter-kit\data\JC-201611-citibike-tripdata.csv')

# Set display option to show all columns
pd.set_option('display.max_columns', None)  # This will display all columns

# Print the column names to inspect them
print(rentals.columns)
print(rentals.head(10))

Trip Duration                 0
Start Time                    0
Stop Time                     0
Start Station ID              0
Start Station Name            0
Start Station Latitude        0
Start Station Longitude       0
End Station ID                0
End Station Name              0
End Station Latitude          0
End Station Longitude         0
Bike ID                       0
User Type                    49
Birth Year                 1161
Gender                        0
dtype: int64
Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')
   Trip Duration           Start Time            Stop Time  Start Station ID  \
0            365  2016-11-01 00:00:39  2016-11-01 00:06:45              3185
1            349  2016-11-01 00:05:14  2016-11-01 00:11:04              3220
2           2701  2016-11-01 00:05:51  2016-11-01 00:50:53              3199
3            313  2016-11-01 00:10:48  2016-11-01 00:16:01              3275
4            379  2016-11-01 00:19:39  2016-11-01 00:25:59              3211
5            487  2016-11-01 00:52:17  2016-11-01 01:00:25              3194
6            627  2016-11-01 01:27:01  2016-11-01 01:37:28              3194
7           1024  2016-11-01 03:48:04  2016-11-01 04:05:09              3217
8            215  2016-11-01 04:08:13  2016-11-01 04:11:48              3211
9            127  2016-11-01 04:11:33  2016-11-01 04:13:41              3202

  Start Station Name  Start Station Latitude  Start Station Longitude  \
0          City Hall               40.717732               -74.043845
1  5 Corners Library               40.734961               -74.059503
2       Newport Pkwy               40.728745               -74.032108
3     Columbus Drive               40.718355               -74.038914
4         Newark Ave               40.721525               -74.046305
5    McGinley Square               40.725340               -74.067622
6    McGinley Square               40.725340               -74.067622
7       Bayside Park               40.698651               -74.082080
8         Newark Ave               40.721525               -74.046305
9       Newport PATH               40.727224               -74.033759

   End Station ID      End Station Name  End Station Latitude  \
0            3267          Morris Canal             40.712419
1            3210        Pershing Field             40.742677
2            3199          Newport Pkwy             40.728745
3            3202          Newport PATH             40.727224
4            3203         Hamilton Park             40.727596
5            3191              Union St             40.718211
6            3189  West Side Light Rail             40.714402
7            3186         Grove St PATH             40.719586
8            3209          Brunswick St             40.724176
9            3199          Newport Pkwy             40.728745

   End Station Longitude  Bike ID   User Type  Birth Year  Gender
0             -74.038526    26217  Subscriber      1985.0       1
1             -74.051789    24623  Subscriber      1978.0       2
2             -74.032108    26314  Subscriber      1975.0       1
3             -74.033759    22064  Subscriber      1991.0       1
4             -74.044247    24456  Subscriber      1986.0       1
5             -74.083639    24722  Subscriber      1954.0       1
6             -74.088772    26261  Subscriber      1962.0       1
7             -74.043117    24664  Subscriber      1983.0       1
8             -74.050656    24472  Subscriber      1964.0       2
9             -74.032108    22064  Subscriber      1989.0       1

In [ ]:
# Strip any leading or trailing spaces from column names
rentals.columns = rentals.columns.str.strip()

# Check again if the column name is correct
print(rentals.columns)

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [ ]:

# Drop rows with missing critical data
rentals.dropna(subset=['User Type', 'Birth Year'], inplace=True)

# Impute missing 'duration' with the average
rentals['Trip Duration'].fillna(rentals['Trip Duration'].mean(), inplace=True)

print(rentals.isnull().sum())  # Check for missing values

Trip Duration              0
Start Time                 0
Stop Time                  0
Start Station ID           0
Start Station Name         0
Start Station Latitude     0
Start Station Longitude    0
End Station ID             0
End Station Name           0
End Station Latitude       0
End Station Longitude      0
Bike ID                    0
User Type                  0
Birth Year                 0
Gender                     0
dtype: int64

In [ ]:
rentals.duplicated(subset=['Start Time', 'Bike ID']).sum()  # Check for duplicates
rentals.drop_duplicates(subset=['Start Time', 'Bike ID'], inplace=True)

Ensure Correct Data Types

In [ ]:
# Check the data types of all columns
print(rentals.dtypes)
print(rentals.info)
print(rentals.head(10))

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object
<bound method DataFrame.info of        Trip Duration           Start Time  ... Birth Year  Gender
0                365  2016-11-01 00:00:39  ...     1985.0       1
1                349  2016-11-01 00:05:14  ...     1978.0       2
2               2701  2016-11-01 00:05:51  ...     1975.0       1
3                313  2016-11-01 00:10:48  ...     1991.0       1
4                379  2016-11-01 00:19:39  ...     1986.0       1
...              ...                  ...  ...        ...     ...
21827            422  2016-11-30 22:17:45  ...     1961.0       1
21828            105  2016-11-30 22:38:35  ...     1957.0       1
21829            150  2016-11-30 23:02:50  ...     1952.0       1
21830            142  2016-11-30 23:03:04  ...     1989.0       1
21831            119  2016-11-30 23:05:40  ...     1986.0       2

[20622 rows x 15 columns]>
   Trip Duration           Start Time  ... Birth Year  Gender
0            365  2016-11-01 00:00:39  ...     1985.0       1
1            349  2016-11-01 00:05:14  ...     1978.0       2
2           2701  2016-11-01 00:05:51  ...     1975.0       1
3            313  2016-11-01 00:10:48  ...     1991.0       1
4            379  2016-11-01 00:19:39  ...     1986.0       1
5            487  2016-11-01 00:52:17  ...     1954.0       1
6            627  2016-11-01 01:27:01  ...     1962.0       1
7           1024  2016-11-01 03:48:04  ...     1983.0       1
8            215  2016-11-01 04:08:13  ...     1964.0       2
9            127  2016-11-01 04:11:33  ...     1989.0       1

[10 rows x 15 columns]

In [ ]:
rentals['Start Time'] = pd.to_datetime(rentals['Start Time'])
rentals['Stop Time'] = pd.to_datetime(rentals['Stop Time'])
rentals['Birth Year'] = rentals['Birth Year'].astype('int64')

# Replace NaN or invalid entries with a default value (e.g., 0 or a valid year)
rentals['Birth Year'] = rentals['Birth Year'].fillna(0).astype('int64')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 6, in <module>
NameError: name 'df' is not defined

In [ ]:
print(rentals.dtypes)

Trip Duration                       int64
Start Time                 datetime64[ns]
Stop Time                  datetime64[ns]
Start Station ID                    int64
Start Station Name                 object
Start Station Latitude            float64
Start Station Longitude           float64
End Station ID                      int64
End Station Name                   object
End Station Latitude              float64
End Station Longitude             float64
Bike ID                             int64
User Type                          object
Birth Year                          int64
Gender                              int64
dtype: object

Checking and Removing Outliers
    (Look for extreme or impossible values in the duration (e.g., rentals lasting thousands of minutes or negative values).)

In [ ]:
#rentals = rentals[rentals['Trip Duration'] < 1440]  # Assuming no rental should exceed 1 day (1440 mins)


print(rentals['Trip Duration'] > 1440)

print(rentals['Trip Duration'] > 1440).sum()

0        False
1        False
2         True
3        False
4        False
         ...
21827    False
21828    False
21829    False
21830    False
21831    False
Name: Trip Duration, Length: 20622, dtype: bool
0        False
1        False
2         True
3        False
4        False
         ...
21827    False
21828    False
21829    False
21830    False
21831    False
Name: Trip Duration, Length: 20622, dtype: bool
Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 4, in <module>
AttributeError: 'NoneType' object has no attribute 'sum'

In [ ]:
# Filter rentals where the duration is greater than 1440 minutes
long_rentals = rentals[rentals['Trip Duration'] > 1440]

# Get the sum of 'duration' for these rentals
sum_lr_duration = long_rentals['Trip Duration'].sum()

# Optionally, get the sum for other entire tirp duration column as well, also can do other columns like (e.g., 'cost')
sum_duration = long_rentals['Trip Duration'].sum()

# Display the results
print(f"Total duration for rentals exceeding 1440 minutes: {sum_lr_duration} minutes")
print(f"Total duration for all rentals: {sum_duration} minutes")

#print(f"Total cost for rentals exceeding 1440 minutes: {sum_cost} dollars")


rentals = rentals[rentals['Trip Duration'] < 1440]  # Assuming no rental should exceed 1 day (1440 mins)

Total duration for rentals exceeding 1440 minutes: 8174328 minutes
Total duration for all rentals: 8174328 minutes

Cleaning the Weather Data

In [ ]:
# Reading and saving csv to weather variable
weather = pd.read_csv('C:\\Users\\tiara.williams\OneDrive - Accenture\\Data Engineering Projects\Project 1\\bike-rental-starter-kit\data\\newark_airport_2016.csv')


# Set display option to show all columns
pd.set_option('display.max_columns', None)  # This will display all columns

# Show the first 10 rows of the DataFrame (or you can adjust to see more)
print(weather.head(10))

# This returns the sum/count of null values from each column
print(weather.isnull().sum())

print(weather.head(10))

print(weather.dtypes)

       STATION                                         NAME        DATE  \
0  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05
5  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-06
6  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-07
7  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-08
8  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-09
9  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-10

    AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0  12.75   NaN  0.00   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1   9.40   NaN  0.00   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2  10.29   NaN  0.00   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3  17.22   NaN  0.00   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4   9.84   NaN  0.00   0.0   0.0    19    31    10   NaN   360  350.0  25.1
5   5.37   NaN  0.00   0.0   0.0    28    42    15   NaN   230  250.0  12.1
6   3.36   NaN  0.00   0.0   0.0    35    46    24   NaN    20  360.0   8.9
7   8.05   NaN  0.00   0.0   0.0    38    45    31   NaN    20   30.0  14.1
8   6.71   NaN  0.01   0.0   0.0    44    48    38   NaN    60   70.0  13.0
9  15.43   NaN  1.77   0.0   0.0    53    65    39   NaN   260  270.0  36.0

   WSF5
0  35.1
1  25.1
2  30.0
3  33.1
4  31.1
5  16.1
6  10.1
7  16.1
8  17.0
9  42.9
STATION      0
NAME         0
DATE         0
AWND         0
PGTM       366
PRCP         0
SNOW         0
SNWD         0
TAVG         0
TMAX         0
TMIN         0
TSUN       366
WDF2         0
WDF5         2
WSF2         0
WSF5         2
dtype: int64
       STATION                                         NAME        DATE  \
0  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05
5  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-06
6  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-07
7  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-08
8  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-09
9  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-10

    AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0  12.75   NaN  0.00   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1   9.40   NaN  0.00   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2  10.29   NaN  0.00   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3  17.22   NaN  0.00   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4   9.84   NaN  0.00   0.0   0.0    19    31    10   NaN   360  350.0  25.1
5   5.37   NaN  0.00   0.0   0.0    28    42    15   NaN   230  250.0  12.1
6   3.36   NaN  0.00   0.0   0.0    35    46    24   NaN    20  360.0   8.9
7   8.05   NaN  0.00   0.0   0.0    38    45    31   NaN    20   30.0  14.1
8   6.71   NaN  0.01   0.0   0.0    44    48    38   NaN    60   70.0  13.0
9  15.43   NaN  1.77   0.0   0.0    53    65    39   NaN   260  270.0  36.0

   WSF5
0  35.1
1  25.1
2  30.0
3  33.1
4  31.1
5  16.1
6  10.1
7  16.1
8  17.0
9  42.9
STATION     object
NAME        object
DATE        object
AWND       float64
PGTM       float64
PRCP       float64
SNOW       float64
SNWD       float64
TAVG         int64
TMAX         int64
TMIN         int64
TSUN       float64
WDF2         int64
WDF5       float64
WSF2       float64
WSF5       float64
dtype: object

Handling the Missing Values

In [ ]:
# Impute missing/null values with the mean of the column  (Basically filling in missing values for the mean)
weather['PGTM'].fillna(weather['PGTM'].mean(), inplace = True) 
weather['TSUN'].fillna(weather['TSUN'].mean(), inplace = True)
weather['WDF2'].fillna(weather['WDF2'].mean(), inplace = True)
weather['WDF5'].fillna(weather['WDF5'].mean(), inplace = True)

In [ ]:
pd.set_option('display.max_columns', None)  # This will display all columns
print(weather)

         STATION                                         NAME        DATE  \
0    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-01
1    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-02
2    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-03
3    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-04
4    USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-01-05
..           ...                                          ...         ...
361  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-27
362  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-28
363  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-29
364  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-30
365  USW00014734  NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US  2016-12-31

      AWND  PGTM  PRCP  SNOW  SNWD  TAVG  TMAX  TMIN  TSUN  WDF2   WDF5  WSF2  \
0    12.75   NaN  0.00   0.0   0.0    41    43    34   NaN   270  280.0  25.9
1     9.40   NaN  0.00   0.0   0.0    36    42    30   NaN   260  260.0  21.0
2    10.29   NaN  0.00   0.0   0.0    37    47    28   NaN   270  250.0  23.9
3    17.22   NaN  0.00   0.0   0.0    32    35    14   NaN   330  330.0  25.9
4     9.84   NaN  0.00   0.0   0.0    19    31    10   NaN   360  350.0  25.1
..     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...   ...
361  13.65   NaN  0.01   0.0   0.0    53    62    40   NaN   270  270.0  29.1
362   8.28   NaN  0.00   0.0   0.0    41    43    31   NaN   330  330.0  19.9
363   8.05   NaN  0.36   0.0   0.0    38    45    31   NaN   170  150.0  18.1
364  14.99   NaN  0.00   0.0   0.0    37    42    32   NaN   270  270.0  25.9
365  12.30   NaN  0.00   0.0   0.0    35    44    29   NaN   200  220.0  21.9

     WSF5
0    35.1
1    25.1
2    30.0
3    33.1
4    31.1
..    ...
361  38.0
362  25.1
363  25.1
364  33.1
365  28.0

[366 rows x 16 columns]

Ensure correct data types

In [ ]:
weather['DATE'] = pd.to_datetime(weather['DATE'])

Remove outliers  or Invalid Data (Could be invalid temperatures like if columns are -100 or the wind speeed i more than 300)

In [ ]:
weather = weather[(weather['TMIN'] > -50) & (weather['TMAX'] < 100)]  # Remove unrealistic temperatures
#weather = weather[weather['WDF2'] < 400]  # Assuming wind speeds over 400 mph are outliers

Joining the Data and Validation Checks (Missing Data etc)

In [ ]:
weather['condition'] = weather['condition'].str.strip().str.lower()  # Remove spaces and convert to lowercase

Database Design using SQL

In [ ]:
#The relational database schema should account for the following entities:

# Bike Rentals: The rentals made by customers, linked to time and weather conditions.
# Weather Conditions: The weather data corresponding to each rental date.

In [ ]:
#. Set Up the Database Connection
import sqlite3

# Establish a connection to SQLite (it will create a file if it doesn't exist)
conn = sqlite3.connect('weather_and _rentals.db')  # Creates the database file if it doesn't exist

# Create a cursor object to interact with the database
cursor = conn.cursor()

Create Bike Table/Schema

In [ ]:
cursor.execute('''CREATE TABLE bikes (
    bike_id SERIAL PRIMARY KEY,
    bike_type VARCHAR(255),
    status VARCHAR(50) -- e.g., available, under maintenance
);
''')

Create Rentals Table/Schema (stores information about each rental)

In [ ]:
cursor.execute('''CREATE TABLE rentals (
    rental_id SERIAL PRIMARY KEY,
    bike_id INT REFERENCES bikes(bike_id),
    rental_timestamp TIMESTAMP,
    duration INT, -- in minutes
    location VARCHAR(255),
    user_id INT -- Assuming there’s user data available
);
''')

Create Weather Table (Stores weathere data associate w each day)

In [ ]:
cursor.execute('''CREATE TABLE weather (
    weather_id SERIAL PRIMARY KEY,
    weather_date DATE,
    temperature DECIMAL(5,2), -- Average temperature for the day
    precipitation DECIMAL(5,2), -- Precipitation in mm
    wind_speed DECIMAL(5,2), -- Wind speed in m/s
    humidity DECIMAL(5,2), -- Percentage of humidity
    condition VARCHAR(50) -- Clear, Rain, Snow, etc.
);
''')

Create Daily Rental (Links each bike rental with the weather conditions on the same day.)

In [ ]:
cursor.execute('''CREATE TABLE rental_weather (
    rental_id INT REFERENCES rentals(rental_id),
    weather_id INT REFERENCES weather(weather_id),
    PRIMARY KEY (rental_id, weather_id)
);
''')


Inserting Data 
(After creating the tables, the next step is inserting data into these tables.)

In [ ]:
# import rental data into the rental table.

cursor.execute('''COPY rentals(Bike ID, Start Time, Stop Time, Trip Duration, Start Station ID, Start Station Latitude, Start Station Longitude,  End Station ID, End Station Latitude, End Station Longitude, User Type, Birth Year, Gender   )
FROM r'C:\Users\tiara.williams\OneDrive - Accenture\Data Engineering Projects\Project 1\bike-rental-starter-kit\data\JC-201611-citibike-tripdata.csv' DELIMITER ',' CSV HEADER;
''')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 3
    cursor.execute('''COPY rentals(Bike ID, Start Time, Stop Time, Trip Duration, Start Station ID, Start Station Latitude, Start Station Longitude,  End Station ID, End Station Latitude, End Station Longitude, User Type, Birth Year, Gender   )
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 232-233: truncated \UXXXXXXXX escape

In [ ]:
# import weather data into the weather table.

#cursor.execute('''COPY weather(TMAX, TMIN, x, WXS2, h, c)
#FROM '/path/to/weather.csv' DELIMITER ',' CSV HEADER;
#''')

In [ ]:
# Insert cleaned data into SQL tables

# Insert the rentals data into the rentals table
rentals.to_sql('rentals', conn, if_exists='replace', index=False)

# Insert the weather data into the weather table
weather.to_sql('weather', conn, if_exists='replace', index=False)

# Commit changes
conn.commit()

Views for Analytics (create views to help the analysts by providing easy-to-query summaries or aggregates)

In [ ]:
#Average Rentals by The Weather Condition to see how rental counts vary by weather conditions.

cursor.execute('''CREATE VIEW avg_rentals_by_weather AS
SELECT
    w.condition AS weather_condition,
    COUNT(r.rental_id) AS total_rentals,
    AVG(r.duration) AS avg_rental_duration
FROM rentals r
JOIN rental_weather rw ON r.rental_id = rw.rental_id
JOIN weather w ON rw.weather_id = w.weather_id
GROUP BY w.condition;
''')

In [ ]:
# Rentals and Weather Correlation, this view help to correlate weather factors (e.g., temperature, precipitation) with the number of rentals.

cursor.execute('''CREATE VIEW rental_weather_correlation AS
SELECT
    w.weather_date,
    w.temperature,
    w.precipitation,
    COUNT(r.rental_id) AS total_rentals
FROM rentals r
JOIN rental_weather rw ON r.rental_id = rw.rental_id
JOIN weather w ON rw.weather_id = w.weather_id
GROUP BY w.weather_date, w.temperature, w.precipitation;
''')

In [ ]:
# Rental Volume by Day of Week and Weather this view summarizes the rental volume by day of the week and weather conditions.

cursor.execute('''CREATE VIEW rentals_by_day_weather AS
SELECT
    strftime('%w', r.rental_timestamp) AS day_of_week,  -- Use strftime to get the day of the week (0 = Sunday, 6 = Saturday)
    w.condition AS weather_condition,
    COUNT(r.rental_id) AS rental_count
FROM rentals r
JOIN rental_weather rw ON r.rental_id = rw.rental_id
JOIN weather w ON rw.weather_id = w.weather_id
GROUP BY day_of_week, weather_condition;
''')

In [ ]:
#New for checking rain, make sure to check read me file to see whet rain  caolumn is

cursor.execute('''
 -- View rentals on rainy days
SELECT * FROM rentals
WHERE rental_id IN (
    SELECT r.rental_id
    FROM rentals r
    JOIN rental_weather rw ON r.rental_id = rw.rental_id
    JOIN weather w ON rw.weather_id = w.weather_id
    WHERE w.condition = 'Rain'
);''')

cursor.execute(''''
-- Correlation between temperature and rental volume
SELECT weather_date, temperature, total_rentals
FROM rental_weather_correlation
ORDER BY weather_date; ''')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 3, in <module>
sqlite3.OperationalError: no such column: r.rental_id

 Querying the Database for Insights

In [ ]:
cursor.execute('''-- View rentals on rainy days
SELECT * FROM rentals
WHERE rental_id IN (
    SELECT r.rental_id
    FROM rentals r
    JOIN rental_weather rw ON r.rental_id = rw.rental_id
    JOIN weather w ON rw.weather_id = w.weather_id
    WHERE w.condition = 'Rain'
);
''')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
sqlite3.OperationalError: no such column: r.rental_id

In [ ]:
cursor.execute('''-- Correlation between temperature and rental volume
SELECT weather_date, temperature, total_rentals
FROM rental_weather_correlation
ORDER BY weather_date;''')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
sqlite3.OperationalError: no such column: w.weather_date

In [ ]:
cursor.execute('''PRAGMA table_info(rentals);
               ''')

In [ ]:
cursor.execute('''SELECT * FROM rentals LIMIT 10;''')

Optimizing the Database (Indexes: Add indexes on frequently queried columns (e.g., rental_timestamp, weather_date).)

In [ ]:
cursor.execute('CREATE INDEX idx_rental_timestamp ON rentals(Trip Duration);')
cursor.execute('CREATE INDEX idx_weather_date ON weather(DATE);')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
sqlite3.OperationalError: near "Duration": syntax error

Reporting (if need to generate reports (e.g., daily rental volume by weather condition), you can create additional views or use aggregate queries to produce summarized reports.)

In [ ]:
cursor.execute('''SELECT 
    w.condition,
    COUNT(r.rental_id) AS rentals,
    AVG(r.duration) AS avg_rental_duration
FROM rentals r
JOIN rental_weather rw ON r.rental_id = rw.rental_id
JOIN weather w ON rw.weather_id = w.weather_id
GROUP BY w.condition;
''')

Traceback (most recent call last):
  File "c:\Users\tiara.williams\.vscode\extensions\ms-python.python-2024.18.1-win32-x64\python_files\python_server.py", line 130, in exec_user_input
    retval = callable_(user_input, user_globals)
  File "<string>", line 1, in <module>
sqlite3.OperationalError: no such column: w.condition